<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to LaraSharp Project</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 flex items-center justify-center min-h-screen text-white">
<div class="text-center p-5">
    <h1 class="text-5xl font-bold mb-4">Welcome to LaraSharp Project</h1>
    <p class="mb-8">Embark on a journey to build a cutting-edge web application using the power of LaraSharp, a perfect blend of Laravel's elegance with C#'s strength.</p>
    <div class="animate-bounce inline-block mb-8">
     <h1 class="text-green-700 text-2xl">
         made by <a href="https://github.com/Djhiphouse">Djhiphouse</a>
     </h1>
    </div>
   
</div>
</body>
</html>
